// remove default box-shadow
textarea:focus, input:focus, .btn:focus {
    box-shadow: none !important;
}

// avatar
.user-avatar {
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

/******************* header *******************/
header {
    border-bottom: 1px solid #e7e7e7;
    z-index: 1;
    
    .logo-wrapper {
        width: 260px;    
    }

    // serach
    .search-wrapper {
        max-width: 720px;
        width: 250px;

        input {
            border: none; 
            outline: none;
            background-color: inherit;
        }

        input:focus {
            background-color: inherit;
        }
    }

    i {
        font-size: 15px;
        cursor: pointer;
    }

    .search-result {
        left: 0;
        top: 40px;
        z-index: 1;
        i {
            font-size: 12px;
        }
    }

    .search-result-item {
        cursor: pointer;
    }

    .search-result-item:hover {
        background-color: #ebebeb !important;
    }

    // profile
    .profile-wrapper {
        min-width: 80px;
        width: 100px;
        text-align: right;
    }

    .profile-menu {
        width: 200px;
        top:54px;
        right: 0px;
        z-index: 1;
    }
} 

/******************* left side nav *******************/
.sidenav {
    width: 260px;
    // background-color: rgb(229, 229, 229);
    &.small-sidenav {
        width: auto;
    }
}

// email leabes
.email-label {
    text-decoration: none;
    color: inherit;

    &:hover {
        background-color: #f7f7f7;
    }
}


/******************* emails-content *******************/
.emails-content {
    width: 88%;
}


.action-btns {
    i {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: grid;
        place-content: center;
        border-radius: 50%;
        transition: background .4s ease;
    }

    i:hover {
        background: #d5d5d5;
    }
}


.colapsed-email-item {
    cursor: pointer;
    transition: box-shadow .4s ease;  
    padding-top: 12px;
    padding-bottom: 12px;
    
    &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.408);
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;
        text-overflow: clip;
        overflow: hidden;
    }

    .label {
        background: rgb(231, 231, 231);
        padding: 0px 10px;
        border-radius: 10px;
        flex-shrink: 0;
    }

    form {
        flex-shrink: 0;
    }
}

/******************* header *******************/
/******************* header *******************/
/******************* header *******************/
/******************* header *******************/
/******************* header *******************/
/******************* header *******************/
/******************* header *******************/



